@model CalumGayleWeb.Models.Rsvp

@{
    ViewBag.Title = "title";
}

<nav class="center">
    @Html.Partial("Navigation")
</nav>
<div class="center">
    <h1>
            Thanks we have you details now.
    </h1>
    @Html.Partial("AccommodationDetails")
</div>
